// color palette
// the file, which inicialize general color var

$mainColorPositive1: #f8aa22;
$mainColorNegative1: #172d80;
$mainColorNegative2: #018d8e;
$mainColorPositive2: #ed413d;

//========================================================================================================================================================
// gradients
// warm
$treeColorP1N1P2: linear-gradient(18deg, rgba(248, 170, 34, 1) 0%, rgba(23, 45, 128, 1) 41%, rgba(237, 65, 61, 1) 100%);
$treeColorN1P1P2: linear-gradient(18deg, rgba(23, 45, 128, 1) 0%, rgba(248, 170, 34, 1) 54%, rgba(237, 65, 61, 1) 100%);
// cold
$treeColorN1N2P1: linear-gradient(18deg, rgba(23, 45, 128, 1) 0%, rgba(1, 141, 142, 1) 50%, rgba(248, 170, 34, 1) 100%);
$treeColorN1P1P2: linear-gradient(18deg, rgba(23, 45, 128, 1) 0%, rgba(248, 170, 34, 1) 50%, rgba(237, 65, 61, 1) 100%);

$fourColorN1N2P1P2: linear-gradient(
    18deg,
    rgba(23, 45, 128, 1) 0%,
    rgba(1, 141, 142, 1) 33%,
    rgba(248, 170, 34, 1) 67%,
    rgba(237, 65, 61, 1) 100%
);
$fourColorP1P2N2N1: linear-gradient(
    18deg,
    rgba(237, 65, 61, 1) 0%,
    rgba(248, 170, 34, 1) 33%,
    rgba(1, 141, 142, 1) 66%,
    rgba(23, 45, 128, 1) 100%
);
